<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gusto Casero</title>
    <!-- Link Favicon-->
    <link rel="icon" type="img/png" href="../favicon.jpg">
    <!--Link css-->
    <link rel="stylesheet" href="../css/stylee.css">
    <!--Link fuente-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <section id="Home">
        <nav>
            <div class="logo">
                <img src="../assets/img/logo.png" alt="logo">
            </div>

            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="./productos.html">Productos</a></li>
                <li><a href="./presupuesto.html">Presupuesto</a></li>
                <li><a href="./contacto.htm">Contacto</a></li>

            </ul>

            <div class="icon">
                <i class="fa-solid fa-magnifying-glass"></i>
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-cart-shopping"></i>
            </div>
        </nav>     
    <section class = "contact-section">
        <div class = "contact-bg">
            <div></div>
            <div></div>
            <div></div>
          </div>      
        </div>
  
  
        <div class = "contact-body">
          <div class = "contact-info">
            <div>
              <span><i class = "fas fa-mobile-alt"></i></span>
              <span> Numero.</span>
              <span class = "text">++34 12 3456 789</span>
            </div>
            <div>
              <span><i class = "fas fa-envelope-open"></i></span>
              <span>E-mail</span>
              <span class = "text">mail@company.com</span>
            </div>
            <div>
              <span><i class = "fas fa-map-marker-alt"></i></span>
              <span>Localizacion</span>
              <span class = "text">Ashton Heights,Arlington, VA
                USA</span>
            </div>
            <div>
              <span><i class = "fas fa-clock"></i></span>
              <span>Horario abierto</span>
              <span class = "text">Lunes - Viernes (9:00 AM to 5:00 PM)</span>
            </div>
          </div>
  
          <div class = "contact-form">
            <form>
              <div>
                <input type = "text" class = "form-control" placeholder="Primer nombre">
                <input type = "text" class = "form-control" placeholder="Segundo nombre">
              </div>
              <div>
                <input type = "email" class = "form-control" placeholder="E-mail">
                <input type = "text" class = "form-control" placeholder="Telefono">
              </div>
              <textarea rows = "5" placeholder="Envianos un mensaje para mejorar nuestros pedidos" class = "form-control"></textarea>
              <input type = "submit" class = "send-btn" value = " Envianos un mensaje ">
            </form>
  
            <div> 
            </div>
          </div>
        </div>
  
        <div class = "map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d223700.1490386933!2d-97.11558670486288!3d28.829485511234168!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864266db2e2dac3b%3A0xeee20d566f63267d!2sVictoria%2C%20TX%2C%20USA!5e0!3m2!1sen!2snp!4v1604921178092!5m2!1sen!2snp" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
  
        <div class = "contact-footer">
          <h3>Siguenos</h3>
          <div class = "social-links">
            <a href = "https://www.facebook.com" class = "fab fa-facebook-f"></a>
            <a href = "https://twitter.com" class = "fab fa-twitter"></a>
            <a href = "https://www.instagram.com" class = "fab fa-instagram"></a>
            <a href = "https://www.linkedin.com" class = "fab fa-linkedin"></a>

          </div>
        </div>
      </section>
  
    
</body>
</html>

       