<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gusto Casero</title>
    <!-- Link Favicon-->
    <link rel="icon" type="img/png" href="../favicon.jpg">
    <!--Link css-->
    <link rel="stylesheet" href="../css/stylee.css">
        
    </style>

</head>
<body>

    <section id="Home">
        <nav>
            <div class="logo">
                <img src="../assets/img/logo.png" 
                alt="Logotipo" title="Logotipo">
            </div>

            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="./productos.html">Productos</a></li>
                <li><a href="./presupuesto.html">Presupuesto</a></li>
                <li><a href="./contacto.htm">Contacto</a></li>

            </ul>

            <div class="icon">
                <i class="fa-solid fa-magnifying-glass"></i>
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-cart-shopping"></i>
            </div>

        </nav>

       <!--Menu-->

    <div class="menu" id="Menu">
        <h1>Nuestro<span>Menu</span></h1>

        <div class="menu_box">
            <div class="menu_card">

                <div class="menu_image">
                    <img src="../assets/img/Hot_dog.jpg" 
                    alt="Hot dog" title="Hot Dog">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>Hot dog</h2>
                    <h3>10 €</h3>
                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="#" class="menu_btn">Ordenar ahora</a>
                </div>

            </div> 
            
            <div class="menu_card">

                <div class="menu_image">
                    <img src="../assets/img/pizza.jpg"
                    alt="Pizza casera" title="Piza casera">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>Piza Casera</h2>
                    <h3>$13 €</h3>
                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="#" class="menu_btn">Ordenar ahora</a>
                </div>

            </div> 

            <div class="menu_card">

                <div class="menu_image">
                    <img src="../assets/img/sandwich.jpg" 
                    alt="sandwich completo" title="sandwich completo">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>Sandwich Completo</h2>
                    <h3>8 €</h3>
                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="#" class="menu_btn">Ordenar ahora</a>
                </div>

            </div> 

            <div class="menu_card">

                <div class="menu_image">
                    <img src="../assets/img/pasta-boloñesa.jpg"
                    alt="Pasta Boloñesa" title="Pasta Boloñesa">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>Pasta Boloñesa</h2>
                    <h3>11 €</h3>
                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="#" class="menu_btn">Ordernar ahora</a>
                </div>

            </div> 

            <div class="menu_card">

                <div class="menu_image">
                    <img src="../assets/img/pasta-carbomara.jepg.jpeg"
                    alt="Pasra Carbonara" title="Pasta Carbonara">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>Pasta Carbonara</h2>
                    <h3>12 €</h3>
                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="#" class="menu_btn">Ordenara ahora</a>
                </div>

            </div> 

            <div class="menu_card">

                <div class="menu_image">
                    <img src="../assets/img/buger.jpg"
                    alt="Hamburguesa Completa" title="Hamburguesa Completa">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>Hamburguesa Completa</h2>
                    <h3> 13 €</h3>
                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="#" class="menu_btn">Ordenar ahora</a>
                </div>

            </div> 

            <div class="menu_card">

                <div class="menu_image">
                    <img src="../assets/img/ensaladas-mixtas.jpg"
                    alt="Ensalada mixta" title="Ensalada Mixta">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>Emsalada Mixta</h2>
                    <h3>8 €</h3>
                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="#" class="menu_btn">Ordenar ahora</a>
                </div>

            </div> 

            <div class="menu_card">

                <div class="menu_image">
                    <img src="../assets/img/Nachos-con-chili-pollo.jpg"
                    alt="Nachos con chili" title="Nachos con chili">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>Nachos con chili </h2>
                    <h3>13 €</h3>
                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="#" class="menu_btn">Ordenar ahora</a>
                </div>

            </div> 

            <div class="menu_card">

                <div class="menu_image">
                    <img src="..//assets/img/churros-con-chocolate.jpg"
                    alt="Churros con chocolate" title="churos con choclate">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>Churros con chocolate</h2>
                    <h3>11€</h3>
                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="#" class="menu_btn">Ordenar ahora</a>
                </div>

            </div> 

            <div class="menu_card">

                <div class="menu_image">
                    <img src="../assets/img/tarta-casera.jpg"
                    alt="Tarta Casera" title="Tarta Casera">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>Tarta <br>Casera</h2>
                    <h3>12 €</h3>
                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="#" class="menu_btn">Ordenar ahora</a>
                </div>

            </div> 

            <div class="menu_card">

                <div class="menu_image">
                    <img src="../assets/img/tarta-santiago.jpg"
                    alt="Tarta de santiago" title="Tarta de santiago">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>Tarta de Santiago</h2>
                    <h3>10 €</h3>
                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="#" class="menu_btn">Ordenar ahora</a>
                </div>

            </div> 

            <div class="menu_card">

                <div class="menu_image">
                    <img src="../assets/img/Brownie.jpg"
                    alt="Brownie de chocolate" title="Browunie de chocolate">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>Browunie de Chocolate</h2>
                    <h3>12 €</h3>
                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="#" class="menu_btn">Ordenar ahora</a>
                </div>         
                    </div>
                  </div>
              </div>
      </section>
</body>
</html>
    